<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Car List</h1>
    <table class="table-striped">
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        <tr th:each="car : ${carList}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.series}"></td>
        </tr>
    </table>
</div>
</body>
</html>
</html>